{% extends "base.html" %}
{% block title %}Página no encontrada{% endblock %}

{% block body %}
      <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1>404 Page</h1>
                </div>
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-right">
                        <li><a href="/inicio">Inicio</a></li>>
                        <li class="active">404</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="gray-bg">
    <div class="fof">
            <!-- 404 error -->
        <div class="container  error-inner wow flipInX">
            <h1>404, Página no encontrada.</h1>
            <p class="text-center">La página que estabas buscando, no se encuentra </p>
            <a class="btn btn-info" href="/index">VOLVER A LA PÁGINA DE INICIO</a>
        </div>
        <!-- /404 error -->
        </div>
    </div>
{% endblock %}