{% extends "base.html" %}
{% load static %}

{% block title %}GyPnetwork | Sobre{% endblock %}

{% block body %}
  <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              Quienes Somos
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="/inicio">
                  Inicio
                </a>
              </li>
              <li class="active">
                Quienes Somos
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
                    <img style="max-width:500px" src="{% static 'dist/img/somos.jpg' %}"/>
                </div>
            
              <!-- Carousel nav -->
              
          <div class="col-lg-7 about wow fadeInRight">

          <p>
            Somos una empresa especializada en el área de las Telecomunicaciones Digitales y la Seguridad, contamos con amplia experiencia en la instalación de cámaras con circuito cerrado de televisión, centrales de alarmas para el hogar y la oficina, configuraciones de equipos de red y centrales telefónicas.
          </p>
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Cámaras de vigilancia con Circuito Cerrado de TV
            </li>

            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Cámaras de Vigilancia con tecnología IP
            </li>

            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Centrales de alarma para el hogar y la industria.
            </li>

            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Centrales Teléfonicas
            </li>

            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Citofonía.
            </li>

            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Control de acceso.
            </li>
            <li>
              <i class="fa fa-angle-right pr-10">
              </i>
              Automatización.
            </li>

          </ul>
          <blockquote>
            <p>
              GyPNetwork Ltda.
            </p>
            <small>
              Valdivia, XIV Región de los Rios.
            </small>
          </blockquote>
        </div>
      </div>
     </div>
    {% endblock %}