{% extends "base.html" %}

{% block body %}
    <title> GyPnetwork | Contactanos </title>

<!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              Contacto
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="#">
                  Inicio
                </a>
              </li>
              <li class="active">
                Contacto
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->
    <div class="container">


      <div class="row">
        <div class="col-lg-5 col-sm-5 address">
          <section class="contact-infos">
            <h4 class="title custom-font text-black">
              Direccion
            </h4>
            <address>
              Villa San Pedro, pasaje 5 #712,
              <br>
              Valdivia, Chile
            </address>
          </section>
          <section class="contact-infos">
            <h4>
              Telefonos
            </h4>
            <p>
              <i class="icon-phone">
              </i>
              +56 9 99883623  Javier Pérez Ferrada
            </p>

            <p>
              <i class="icon-phone">
              </i>
              +56 9 92653875  Francisco Gonzalez Ojeda
            </p>

          </section>
        </div>
        <div class="col-lg-7 col-sm-7 address">
          <h4>
            Formulario de contacto
          </h4>
          <div class="contact-form">
            {% if form.errors %}
     <p style="color: red;">Por favor corrige lo siguiente:
     </p>
              {% endif %}
     <form action="" method="post" >{% csrf_token %}
         <table>
             {{ form.as_table }}
         </table>        
         <input class="btn btn-info" type="submit" value="Enviar">
     </form>

          </div>
        </div>
      </div>
</div>
    <!--container end-->
<hr/>
<div class="container">
      <div class="row">
        <div class='col-md-offset-2 col-md-8 text-center'>
          <h2>
            Profesionalismo, responsabilidad y garantía en todos nuestros trabajos.-
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 mar-b-30">
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active">
              </li>
              <li data-target="#quote-carousel" data-slide-to="1">
              </li>
              <li data-target="#quote-carousel" data-slide-to="2">
              </li>
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">

              <!-- Quote 1 -->
              <div class="item active">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <img class="img-circle" style="width: 100px;height:100px;" alt="">
                    </div>
                    <div class="col-sm-9">
                      <p>
                        Nuestro equipo se pondrá en contacto contigo dentro de las próximas 24 horas.
                      </p>
                      <small>
                        Soluciones integrales en telecomunicaciones digitales.
                      </small>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <img class="img-circle" style="width: 100px;height:100px;" alt="">
                    </div>
                    <div class="col-sm-9">
                      <p>
                        GyPNetwork Limitada
                      </p>
                      <small>
                        Valdivia
                      </small>
                    </div>
                  </div>
                </blockquote>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-3 text-center">
                      <img class="img-circle" style="width: 100px;height:100px;" alt="">
                    </div>
                    <div class="col-sm-9">
                      <p>
                        Domotica, Seguridad
                      </p>
                      <small>
                        GyPNetwork Ltda.
                      </small>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>

{% endblock %}
    


    


    